body{
    background-color: #131517;
    font-family: 'Roboto', sans-serif;
    max-width: 100vw;
    min-height: 100vh;
    height: auto;
}::-webkit-scrollbar{
    display: none !important;
    width: 0px !important;
}.container-xxl{
    max-width: 1600px !important;
}

nav{
    width: 100%;
    height: 81px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1E1F25;
    padding: 0 2.5rem;
}#navUserContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}nav h3{
    color: #edf2fb;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: calc(1rem + .4vw);
    margin: 0;
    margin-left: 1rem;
}#imgContainer{
    height: 60%;
    aspect-ratio: 1/1;
}img{
    width: 100%;
    height: 100%;
}#menuIconContainer{
    display: none;
    height: 100%;
    aspect-ratio: 1/1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}#menuIcon{
    height: 60%;
    width: 60%;
    transition: transform .3s
}#menuIcon:hover{
   transform: scale(1.075);
}

main{
    margin: 0 !important;
    display: flex;
    min-height: calc(100vh - 81px);
}section{
    display: flex;
    flex-direction: column;
    padding: calc(.3rem + .25vw) !important;
    padding-top: 1.5rem !important;
}#menu{
    position: relative;
    left: 0;
    top: -81px;
    width: 150px;
    background-color: #1E1F25;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: -81px;
    transition: left .5s linear;
}#famIcon{
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.option svg{
    height: 80%;
}.option{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .35rem 0;
    margin-bottom: .2rem;
    transition: background-color .3s;
}.option.active{
    background-color: #36B9CC55;
}.option:hover{
    background-color: #36B9CC33;
}#closeArrow svg{
    height: 80%;
}#closeArrow{
    width: 100%;
    display: none;
    align-items: center;
    justify-content: center;
    margin-top: .2rem;
    transition: transform .2s;
}#closeArrow:hover{
    transform: scale(1.07);
}



h1{
    margin: 0;
    color: #edf2fb;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: calc(2rem + .5vw);
}
#subHeader{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0rem;
    margin: 0 !important;
}
#viewForm{
    display: flex;
    justify-content: flex-end;
}#viewForm input{
    flex-grow: 1;
    max-width: 300px;
    border: none;
    border-radius: calc(.25rem + .075vw);
    background-color: #1F2021;
    color: #edf2fb;
    outline: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: calc(.8rem + .25vw);
    padding: .4rem .8rem;
    margin-right: 1rem;
}#viewForm input::placeholder{
    color: #00c7e3;
}#viewForm button{
    border: none;
    border-radius: calc(.25rem + .075vw);
    background-color: #1F2021;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
}#viewForm button svg{
    height: 60%;
}
#mainContent{
    margin: 0 !important;
    padding: 2rem calc(3rem + 4vw);
}
.athleteItem{
    padding: .1rem;
    text-decoration: none;
    border: none;
    outline: none;
    background-color: transparent;
}.athleteItemContainer{
    background-color: #00424B;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 1rem;
    height: 100%;
    transition: transform .2s, box-shadow .3s;
}.athleteItemContainer:hover{
    transform: translateX(-1%) translateY(-1%);
    box-shadow: .1rem .1rem 1rem #1F2021
}.athletePhoto{
    border-radius: 50%;
    aspect-ratio: 1/1;
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: calc(.15rem + .075vw) solid #36B9CC;
    margin-bottom: .4rem;
}.athletePhoto svg{
    width: 100%;
    height: 100%;
}.athleteClub{
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: calc(1.2rem + .25vw);
    color: #edf2fb;
    margin: 0;
    text-align: center;
}.athleteName{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: calc(.9rem + .25vw);
    color: #36B9CC;
    margin: 0;
    text-align: center;
}

/* phone - tablet */
@media screen and (max-width: 768px){
    #menu{
        position: fixed;
        height: 100%;
        top: 0;
        left: -100%;
    }#famIcon{
        width: 40%;
        margin: 0;
    }.option svg{
        width: 70%;
    }.option{
        height: calc(2.4rem + .25vw);
        padding: 0;
    }
    #closeArrow{
        display: flex;
    }nav{
        height: 60px;
        padding: 0 .75rem;
    }#menuIconContainer{
        display: flex;
    }#menu.active{
        left: 0;
    }
    #viewForm input{
        max-width: 1000px;
    }h1{
        margin-left: .3rem;
        margin-bottom: .5rem;
    }#mainContent{
        margin: 0 !important;
        padding: 1rem;
    }
}
/* tablet */
@media screen and (min-width: 768px){

}

/* small laptops */
@media screen and (min-width: 992px){

}
