body{
    background-color: #131517;
    font-family: 'Roboto', sans-serif;
    max-width: 100vw;
    min-height: 100vh;
    height: auto;
}::-webkit-scrollbar{
    display: none !important;
    width: 0px !important;
}.container-xxl{
    max-width: 1500px !important;
}

main{
    margin: 0 !important;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
h1{
    color: #edf2fb;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: calc(2rem + .5vw);
    margin: 0;
    margin-bottom: .5rem;
    margin-left: 5px;
    padding: 0 !important;
}section{
    display: flex;
    flex-direction: column;
    padding: calc(.3rem + .25vw) !important;
    margin-top: 2rem !important;
    padding-bottom: 0 !important;
}section > div{
    margin: 0 !important;
    padding: 0;
}#leftSide{
    padding: 0 calc(.2rem + .35vw);
}#rightSide{
    padding: 0 calc(.2rem + .35vw);
}

.box{
    background-color: #1E1F25;
    border-radius: calc(.45rem + .075vw);
    margin-bottom: 1rem;
    padding: 1.4rem;
    box-shadow: 6px 6px 12px #0004;
}.box h2{
    color: #edf2fb;
    font-family: 'Roboto', sans-serif;
    font-weight: Bold;
    font-size: calc(1rem + .25vw);
    margin: 0;
}

#alert{
    text-align: center;
    margin: 0;
    background-color: #055160;
    border-radius: calc(.25rem + .075vw);
    color: #edf2fb;
    line-height: 2.75rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: calc(.75rem + .25vw);
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    padding: 0 4rem;
    transition: opacity .4s;
}

/* phone - tablet */
@media screen and (max-width: 768px){
    nav{
        height: 60px;
        padding: 0 .75rem;
    }#menuIconContainer{
        display: flex;
    }#menu{
        position: fixed;
        height: 100%;
        top: 0;
        left: -100%;
    }#famIcon{
        width: 40%;
        margin: 0;
    }#closeArrow{
        display: flex;
    }.option svg{
        width: 70%;
    }.option{
        height: calc(2.4rem + .25vw);
        padding: 0;
    }#menu.active{
        left: 0;
    }
}

/* ---- END TEMPLATE ---- */

#backButtonContainer{
    padding: .5rem;
    background-color: #1E1F25;
    border-radius: 50%;
    transition: all .3s;
    margin-top: 1rem;
    position: fixed;
    top: 0 !important;
    right: 0!important;
    margin-right: 1.75rem;
    margin-top: 1rem;
    border: none;
    outline: none;
}#backButtonContainer:hover{
    box-shadow:         4px 3px 8px  #0E0E0E66;
    -moz-box-shadow:    4px 3px 8px  #0E0E0E66;
    -webkit-box-shadow: 4px 3px 8px  #0E0E0E66;
    -o-box-shadow:      4px 3px 8px  #0E0E0E66;
    transform: translateX(-2px) translateY(-2px);
    cursor: pointer;
}

#box1{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    flex-wrap: wrap;
}#box1 > img{
    width: 50%;
    min-width: 180px;
    margin: auto;
    padding: 1rem;
}#box1 h3, p{
    background-color: #35353544;
    border-radius: calc(.15rem + .075vw);
    width: 100%;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: calc(.65rem + .25vw);
    font-weight: 500;
    color: #36B9CC;
    margin: .2rem 0;
    padding: .5rem;
    text-align: center;   
}

#box2{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    flex-wrap: wrap;
}#box2 > p{
    background-color: #35353544;
    border-radius: calc(.15rem + .075vw);
    width: 100%;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: calc(.65rem + .25vw);
    font-weight: 400;
    color: #36B9CC;
    margin: .2rem 0;
    padding: .5rem;
    text-align: center;
}

#box3{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 1rem;
    flex-wrap: wrap;
}#box3 > h3{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: calc(.9rem + .25vw);
    color: #edf2fb;
    margin: 0;
    text-align: left;
    margin-top: .8rem;
}#box3 > p{
    background-color: #35353544;
    border-radius: calc(.15rem + .075vw);
    width: 100%;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: calc(.65rem + .25vw);
    font-weight: 400;
    color: #36B9CC;
    margin: .2rem 0;
    padding: .5rem;
    text-align: left;
}

#athletesContainer{
    margin-top: 0 !important;
    padding-top: 0 !important;
}#athletesContainer > div{
    padding: 0 calc(.2rem + .35vw);
}
.athleteItem{
    display: flex;
    background-color: #055160;
    border-radius: calc(.2rem + .075vw);
    margin: .2rem 0;
    border: none;
    outline: none;
    width: 100%;
    padding: 0;
}.athleteItem > p{
    background-color: transparent;
    margin: 0;
    color: #a5cdff;
}.athleteItem > p:nth-child(1){
    width: 60%;
    flex-grow: 1;
    text-align: left;
}.athleteItem > p:nth-child(2){
    width: 20%;
}.athleteItem > p:nth-child(3){
    width: 20%;
    text-align: end;
}

/* phone - tablet */
@media screen and (max-width: 768px){
    #backButtonContainer{
        transition: none;
        box-shadow:         4px 3px 8px  #0E0E0E66;
        -moz-box-shadow:    4px 3px 8px  #0E0E0E66;
        -webkit-box-shadow: 4px 3px 8px  #0E0E0E66;
        -o-box-shadow:      4px 3px 8px  #0E0E0E66;
        transform: translateX(-2px) translateY(-2px);
        cursor: pointer;
    }section{
        margin-top: 0 !important;
    }
}

/* tablet */
@media screen and (min-width: 768px){
    .athleteItem{
        padding: 0 .5rem;
    }
}

/* small laptops */
@media screen and (min-width: 992px){

}